* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  background-image: url("https://4.bp.blogspot.com/-yf7XbVzmcAs/UmTmVW64LTI/AAAAAAAASEA/a7AJo-esdnA/s0/Freshly_Coated_Matterhorn_HD.jpg");
  background-size: 100% 250%;
}

#tabs {
  margin-bottom: 50px;
  font-size: 20px;
}

#tabs li {
  width: 50%;
  text-align: center;
}

.table-wrapper {
  border: 1px solid #eaebed;
  border-radius: 10px;
  padding:20px 30px 5px 10px;
  margin: 10px 10px 30px 10px;
}

table {
  margin: 10px;
}

tr {
  border-radius: 10px;
  width: 500px;
  height: 54px;
}

th, td {
  font-size: 14px;
  border: 0.5px solid #eaebed;
}

.subtitle {
  margin: 6px 0px 0px 0px;
}

.dropdown {
  float: left;
  margin-right: 15px;
  width: 140px;
}

.input-group {
  width: 70px;
  float: left;
  margin-right: 10px;
}

#predict-button {
  float: right;
  margin-right: 10px;
  width: 120px;
  background-color: #efefef;
}

.loader {
  display: none;
  float: right;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #6b6e70;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#footer {
  background-image: url("https://4.bp.blogspot.com/-yf7XbVzmcAs/UmTmVW64LTI/AAAAAAAASEA/a7AJo-esdnA/s0/Freshly_Coated_Matterhorn_HD.jpg");
  background-size: 100% 500%;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

#map {
  width: 80%;
  height: 500px;
  margin: auto;
  margin-top: 30px;
}
